@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url("paper.gif");
        background-color: palegoldenrod;
    }
</style>

<div>
    <div class="row">
        <h2 id="safari">AFRICAN SAFARIS</h2>
    </div>
    <div class="row">
        <p id="check">CHECK OUT OUR REVIEWS BEFORE YOU BOOK!</p>
    </div>
</div>

    @*sliding marquee*@
    <div class="wrapper">
        <div class="sliding-background">
        </div>
    </div>

